<!DOCTYPE html>
<html lang="it">
<head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

    <!-- General Metadata -->
    <title>{{title}} | ISG PWA</title> 
    <link rel="canonical" href="https://school.paolo565.org{{path}}" />
    <meta name="description" content="Controlla con facilit&agrave; gli orari e gli avvisi dell'Istituto Gobetti" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{title}} | ISG PWA" />
    <meta property="og:type" content="website" />
	<meta property="og:url" content="https://school.paolo565.org{{path}}" />
    <meta property="og:image" content="https://school.paolo565.org/static/icon-512x512.png"/>
    <meta property="og:image:width" content="512"/>
    <meta property="og:image:height" content="512"/>
    <meta property="og:image:alt" content="Logo"/>
	<meta property="og:description" content="Controlla con facilit&agrave; gli orari e gli avvisi dell'Istituto Gobetti" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:site_name" content="ISG PWA" />

    <!-- Twitter Card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@Paolo565" />

    <!-- PWA -->
    <link rel="manifest" href="/manifest.json" /> 
    <meta name="theme-color" content="#3F51B5" /> 

    <link rel="stylesheet" href="/static/app.css?v={{>commithash}}">
    <link rel="stylesheet" href="/static/app.print.css?v={{>commithash}}" media="print">
</head> 
<body> 
    <div class="app-container">
        {{>top_navigation}}
