@page {
    size: A4 landscape;

}

* {
    overflow: visible !important;
}

body {
    background: #fff;
}

.no-print {
    display: none;
}

.app-container,
.last-container:last-of-type,
.container:last-of-type {
    margin-bottom: 0;
}

.schedule table {
    width: 100%;
}