{{>header title="Errore 500"}}

<div class="article-page">
    <div class="top-heading base-container">
        <h1>Errore 500</h1>
    </div>
    <div class="container text-container center">
        <p>Si è verificato un errore nel caricamento di questa pagina, riprova più tardi</p>
    </div>
</div>

{{>footer}}