{{>header title="Errore 500"}}

<div class="container clear-container full-width-container">
    <div class="container text-container center">
        <p>Si è verificato un errore nel caricamento di questa pagina, riprova più tardi</p>
    </div>
</div>

{{>footer}}