{{>header title="Avvisi" top_title="Avvisi" path="/avvisi" search=true}}

<div class="container clear-container full-width-container">
    <div class="article-columns">
        <ul>
            {{#each articles}}
                {{>article_item article=.}}
            {{/each}}
        </ul>
    </div>
</div>

{{>footer}}
