{{>header title=hour.title path=path}}

<div class="schedule-page">
    <div class="top-heading base-container no-print">
        <h1>{{hour.title}}</h1> 
    </div>

    <div class="last-container">
      <div class="schedule">
        {{{hour_html}}}
      </div>
    </div>
</div>

{{>footer}}