{{>header title=hour.title path=path}}

<div class="schedule-page">
    <div class="top-heading base-container">
        <h1>{{hour.title}}</h1> 
        <!--<span>aggiornato X ore fa</span>-->
    </div>

    <div class="last-container">
      <div class="schedule">
        {{{hour_html}}}
      </div>
    </div>
</div>

{{>footer}}