{{>header title="Orari" path="/" search=true}}

<div class="article-page">
    <div class="top-heading base-container">
        <h1>Orari</h1> 
        <!--<span>aggiornato X ore fa</span>-->
    </div>
    <div class="container text-container">
        <p>Al momento gli orari non sono disponibili</p>
        <p>Sto aggiornando l'app e fino a quando non saranno pubblicati i nuovi orari di quest'anno non potrò lavorare a questa pagina</p>
        <p>Nel frattempo dai un'occhiata alla <a href="/avvisi">pagina degli avvisi</a>!</p>
    </div>
</div>

{{>footer}}