{{>header title="Set Offline"}}

<div class="article-page">
    <div class="top-heading base-container">
        <h1>Set Offline</h1> 
    </div>
    <div class="container text-container center">
        <p>Stai cercando di aprire una pagina nuova, ma in questo momento risulti offline.</p>
        <p>Riprova più tardi o <a href="/">torna alla pagina principale</a></p>
    </div>
</div>

{{>footer}}