{% extends "base.html" %}

{% block title %}Errore 404{% endblock %}

{% block body %}
<div class="container clear-container full-width-container">
    <div class="container text-container center">
        <p>Non siamo riusciti a trovare questa pagina.</p>
        <p>Prova a <a href="/">tornare alla pagina principale</a></p>

        <h2>Perchè non abbiamo trovato questa pagina?</h2>
        <p>Dopo aver studiato la teoria del multiverso, abbiamo scoperto che ci sono diversi universi simili a questo, così abbiamo deciso di applicare un tocco di originalità a questo rimuovendo questa pagina.</p>
        <p>La pagina ha mangiato il cane... Il cane è stato mangiato dalla pagina!? <i>Non lo so, gli appunti erano sulla pagina prima che il cane la mangiasse.</i></p>
        <p>Un oggetto cosmico ha colpito il server. Questa pagina, insieme a molte altre, è andata persa oltre l'orizzonte degli eventi.</p>
        <p>La bicicletta si è rotta e questa pagina non è arrivata in tempo a scuola per fare la verifica.</p>
        <p>La prof ha chiesto alla pagina di uscire durante l'ora per fare la verifica. Non è più tornata.</p>
        <p>Ci sarebbero molti altri motivi che spiegherebbero perchè questa pagina non esiste, <i>ma non mi fido di tutto quello che leggo su internet.</i></p>
        <div style="height: 150px;"></div>
        <p><i>Aspetta. Questa è una pagina! L'ho ritrovata!!!</i></p>
    </div>
</div>
{% endblock %}
