{% extends "base.html" %}

{% block title %}Info{% endblock %}

{% block path %}/info{% endblock %}

{% block about_active %}class = "active"{% endblock %}

{% block body %}
<div class="container clear-container full-width-container">
    <div class="container text-container">
        <p>ISG PWA è un app creata da <a href="https://www.paolo565.org">Paolo Barbolini</a></p>
        <p>Orari e Avvisi caricati dalle pagine pubbliche del <a href="http://www.istitutogobetti.it">sito ufficiale</a> dell'Istituto Statale di Istruzione Secondaria Superiore "P. Gobetti"</p>
    </div>

    <h2 class="text-heading">Installazione</h2> 
    <div class="container text-container">
        <p>Questa app può essere utilizzata nei browser: Firefox, Safari, Google Chrome, Edge</p>
        <p>L'installazione è possibile solo sui dispositivi Windows 10 o Android col browser Google Chrome, per tutti gli altri sistemi è comunque possibile salvare il link <a href="https://school.paolo565.org">https://school.paolo565.org</a> nei preferiti</p>
        <p>Per installare l'app aprire il link in Google Chrome, cliccare sull'icona formata da 3 puntini in alto a destra della finestra e cliccare su <i>Aggiungi a schermata home</i> o su <i>Installa ISG PWA</i> </p>
    </div>

    <h2 class="text-heading">Software Utilizzati</h2> 
    <div class="container text-container">
        <p>Backend scritto in Rust, Frontend scritto in Vanilla JS <a href="https://github.com/paolobarbolini/school.paolo565.org/tree/v2">rilasciato</a> sotto licenza <a href="https://github.com/paolobarbolini/school.paolo565.org/blob/master/COPYING">AGPL 3.0</a></p>
        <p>Hosting: Hetzner</p>

        <p>Preview dei file PDF grazie a <a href="https://github.com/mozilla/pdf.js">PDF.js</a> by Mozilla Labs sotto licenza <a href="https://github.com/mozilla/pdf.js/blob/master/LICENSE">Apache 2.0</a></p>
        <p>Icone rilasciate da <a href="https://fontawesome.com">Font Awesome 5</a> sotto licenza <a href="https://fontawesome.com/license/free">CC BY 4.0</a></p>
        <p>Icona dell'app fornita da <a href="https://www.freepik.com/">Freepik</a> tramite <a href="https://www.flaticon.com/">flaticon.com</a> sotto licenza <a href="https://creativecommons.org/licenses/by/3.0/deed.it">CC BY 3.0</a></p>
    </div>
</div>
{% endblock %}
