<!DOCTYPE html>
<html lang="it">
<head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

    <!-- General Metadata -->
    <title>{% block title %}{% endblock %} | ISG PWA</title> 
    <link rel="canonical" href="https://school.paolo565.org{% block path %}{% endblock %}" />
    <meta name="description" content="Controlla con facilit&agrave; gli orari e gli avvisi dell'Istituto Gobetti" />

    <!-- Open Graph -->
    <meta property="og:title" content="{% block title %}{% endblock %} | ISG PWA" />
    <meta property="og:type" content="website" />
	<meta property="og:url" content="https://school.paolo565.org{% block path %}{% endblock %}" />
    <meta property="og:image" content="https://school.paolo565.org/static/icon-512x512.png"/>
    <meta property="og:image:width" content="512"/>
    <meta property="og:image:height" content="512"/>
    <meta property="og:image:alt" content="Logo"/>
	<meta property="og:description" content="Controlla con facilit&agrave; gli orari e gli avvisi dell'Istituto Gobetti" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:site_name" content="ISG PWA" />

    <!-- Twitter Card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@Paolo565" />

    <!-- PWA -->
    <link rel="manifest" href="/manifest.json" /> 
    <meta name="theme-color" content="#3F51B5" /> 

    <link rel="stylesheet" href="/static/app.css?v={% include "commithash.html" %}">
    <link rel="stylesheet" href="/static/app.print.css?v={% include "commithash.html" %}" media="print">
</head> 
<body> 
    <div class="app-container">
        <div class="top-navigation no-print">
            <h1>{% block top_title %}school.paolo565.org{% endblock %}</h1>

            {% block top_navigation %}{% endblock %}
        </div> 
        
        {% block body %}{% endblock %}

        <div class="bottom-navigation no-print">
            <ul>
                <li>
                    <a href="/" {% block index_active %}{% endblock %}>
                        <svg aria-hidden="true" width="16" height="16" viewbox="0 0 512 512" focusable="false" class="fa-icon">
                            <path d="M256 8c137 0 248 111 248 248s-111 248-248 248-248-111-248-248 111-248 248-248zM313.1 358.1c5.4 3.9 12.9 2.7 16.8-2.6l28.2-38.8c3.9-5.4 2.8-12.9-2.6-16.8l-63.5-46.2v-137.7c0-6.6-5.4-12-12-12h-48c-6.6 0-12 5.4-12 12v168.3c0 3.8 1.8 7.4 4.9 9.7z"></path>
                        </svg>
                        <span>Orari</span>
                    </a>
                </li> 
                <li>
                    <a href="/avvisi" {% block articles_active %}{% endblock %}>
                        <svg aria-hidden="true" width="16" height="12.8" viewbox="0 0 640 512" focusable="false" class="fa-icon">
                            <path d="M48 0c26.5 0 48 21.5 48 48v80h-80c-8.8 0-16-7.2-16-16v-64c0-26.5 21.5-48 48-48zM256 412.6c0 31.9-21.8 61.4-53.3 66.5-40.1 6.5-74.8-24.3-74.8-63.1v-368c0-18.1-6.3-34.6-16.4-48h336.4c52.9 0 96 43.1 96 96v256h-288v60.6zM288 384h336c8.8 0 16 7.2 16 16 0 61.9-50.1 112-112 112h-336c52.9 0 96-43.1 96-96v-32z"></path>
                        </svg>
                        <span>Avvisi</span>
                    </a>
                </li> 
                <li>
                    <a href="/info" {% block about_active %}{% endblock %}>
                        <svg aria-hidden="true" width="16" height="16" viewbox="0 0 512 512" focusable="false" class="fa-icon">
                            <path d="M476 3.2c17.3-10 39 4.6 35.6 24.8l-72 432c-2.6 15.3-18.8 24.2-33 18.2l-124.6-52.2-63.5 77.3c-14 17.1-42.5 7.8-42.5-15.8v-80.5l240.9-293.5c4.7-5.7-3.1-13.2-8.6-8.3l-287.3 253.2-106.3-44.6c-18-7.6-20.3-32.8-2.2-43.2z"></path>
                        </svg>
                        <span>Info</span>
                    </a>
                </li>
                <li id="web-share" class="hidden">
                    <a href="javascript:void(0)">
                        <svg aria-hidden="true" width="16" height="16" viewBox="0 0 448 512" focusable="false" class="fa-icon">
                            <path d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"></path>
                        </svg>
                        <span>Condividi</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% block scripts_before %}{% endblock %}
    <script src="/static/app.js?v={% include "commithash.html" %}"></script>
</body>
</html>